
		<% book.book_comments.each do |bcomment| %>
			<tr>
				<td>
					<%= link_to(bcomment.user) do %>
						<%= attachment_image_tag(bcomment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
					<% end %>
				</td>
				<td>
					<%= bcomment.comment %>
				</td>
			    <% if current_user == bcomment.user %>
				<td>
					<%= link_to "Destroy",book_book_comment_path(bcomment.book,bcomment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_book_comment_#{bcomment.id}",remote: true %>
				</td>
				<% else %>
				<% end %>
				<br><br>
			</tr>
		<% end %>
